@model TextFileModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="form-group">
        <label asp-for="TextFile" class="col-sm-3 col-form-label">Please upload text file.</label>
        <div class="col-sm-12">
            <div class="custom-file">
                <input asp-for="TextFile" class="form-control custom-file-input">
                <label class="custom-file-label">Choose File...</label>
                <span asp-validation-for="TextFile" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>
