@model ErrorModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Modal -->
<div class="modal fade" id="ErrorLoginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Model.ErrorTitle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>@Model.ErrorMessage</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCommonErrorClose">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    //This will show the modal when exception error caught
    window.addEventListener('load', function () {
    $("#ErrorLoginModal").modal('show');
    }, false);

    $("#btnCommonErrorClose").click(function () {
        $("#ErrorLoginModal").modal('hide');

        //redirect to the Controller/Action Parameter
        window.location.href = '@Url.Action(Model.RedirectAction,Model.RedirectController)';
    });
</script>